.vh-100 {
  min-height: 100vh;
}

.header {
  padding-top: 20px;
  width: 100%;
}

.contact-button {
  transition: all 0.3s ease-in-out;
}

.a-without-style {
  color: white;
  text-decoration: none;
}

.system-container {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
}

.text-red {
  color: red;
}

.fs-13 {
  font-size: 13px;
}

.h-500px {
  height: 500px;
}
