/* You can add global styles to this file, and also import other style files */

body {
  background-image: linear-gradient(90deg, #141b20, #020407);
  font-family: "Poppins", sans-serif !important;
  color: white;
}

$enable-responsive-font-sizes: true;
